{% extends "_layout.html" %} {% block title %}Welcome to Clay v3{% endblock %}
{% block head %} {%- endblock %} {% block content %}
<div id="wrapper">
  <div id="container">
    <div id="p1" class="page header">
      <h1>
        <img class="header--img" src="./static/assets/img/header-1.jpg" alt="">
        <div class="language">
          <div class="spanish active">
            <span>ESPAÑOL</span>
            <img src="./static/assets/img/language.svg" alt="">
          </div>
          <div class="english">
            <img src="./static/assets/img/language.svg" alt="">
            <span>ENGLISH</span>
          </div>
        </div>
      </h1>
      <span class="closer">
        <img src="./static/assets/img/close.svg" alt="">
      </span>
      <div class="no-visible">
        <div class="box-shadow">
          <p class="text-1">Todos los faros de la costa peruana forma parte del proyecto Irradia, una iniciativa conjunta del MALI y la Fundación Telefónica Movistar para promover la utilización de los medios de producción digital como estímulo para la creación artística.</p>
        </div>
        {% include 'nav-list.html' %}
      </div>
    </div>
    <div id="p2" class="page header">
      <h1>
        <img class="header--img" src="./static/assets/img/header-1.jpg" alt="">
        <div class="title">
          <span>1</span>
          <p>PRESENTACIÓN</p>
        </div>
      </h1>
      <span class="closer">
        <img src="./static/assets/img/close.svg" alt="">
      </span>
      <div class="no-visible">
        <div class="box-shadow">
          <div class="pl-15 pr-15 pt-20">
            <p class="text-3">Todos los faros de la costa peruana es un proyecto multidisciplinar que explora las relaciones entre navegación, sonido y escritura.</p>
            <p class="text-3">Los faros son señales encadenadas en el litoral. Cada uno de ellos posee un código propio, simple pero efectivo, cuya función es orientar a los navegantes. La guía acontece en horas de día como en el lapso de noche. En la claridad los faros se diferencian unos de otros por su apariencia física; en la oscuridad se identifican por su tipo de luz. A partir de las características lumínicas y estructurales de los 56 faros desplegados a lo largo de los 3,000 kilómetros del litoral peruano, he desarrollado una partitura gráfica para ser interpretada libremente por diversos músicos.</p>
            <p class="text-3">Los códigos individuales de los faros resultan en variaciones que, en sucesión, evocan las peculiaridades físico-geográficas existentes en el territorio de la costa peruana. Si la costa es una línea plagada de faros, la partitura es una concatenación de gráficos, marcas e instrucciones que devuelve a esos faros como fuente sin postularse como su traducción. Sobre la base de datos mensurables y filocientíficos, Todos los faros de la costa peruana presenta una partitura de notaciones abiertas que asume la indeterminación propia de la música experimental. 
            <p class="text-3">Como parte del programa público de este proyecto he invitado a distintos autores a producir, en cada caso, un texto inspirado en un concepto específico del lenguaje de la navegación. Se trata de tomar términos vinculados a un marco instructivo que, descontextualizados, se prestan para múltiples derivas poéticas e interpretativas.</p>
            <p class="text-3">Navegación, sonido y escritura conforman así una red de sistemas notacionales generativos susceptibles de retroalimentarse y desviarse mutuamente.</p>
            <div class="pb-30">
              <p class="m-0">Luz María Bedoya</p>
              <p class="m-0 c-gray">Enero, 2021</p>
            </div>
            <div class="pb-80">
              <span class="text-decoration">Invitados</span>
              <ul class="list-name">
                <li>Teresa Cabrera</li>
                <li>Macri Cáceres</li>
                <li>Lucia Castello Branco</li>
                <li>Orieta Chrem</li>
                <li>Vered Engelhard</li>
                <li>Gabriela Ezeta</li>
                <li>Safaa Fathy</li>
                <li>Teté Leguía</li>
                <li>José Ignacio Padilla</li>
                <li>Santiago Pillado</li>
                <li>Paruro</li>
                <li>Peter Szsendy</li>
                <li>Santiago Vera</li>
              </ul>
            </div>
          </div>
          <img class="header--img" src="./static/assets/img/header-1.jpg" alt="">
          <div>
            <p class="text-1">Todos los faros de la costa peruana forma parte del proyecto Irradia, una iniciativa conjunta del MALI y la Fundación Telefónica Movistar para promover la utilización de los medios de producción digital como estímulo para la creación artística.</p>
          </div>
        </div>
        {% include 'nav-list.html' %}
      </div>
    </div>
    <div id="p3" class="page header">
      <h1>
        <img class="header--img" src="./static/assets/img/header-2.jpg" alt="">
        <div class="title">
          <span>2</span>
          <p>FAROS</p>
        </div>
      </h1>
      <span class="closer">
        <img src="./static/assets/img/close.svg" alt="">
      </span>

      <div class="no-visible">
        <div class="box-shadow">
          <div class="pl-15 pr-15 pt-20">
            <p class="text-3 pb-80">Actualmente la costa del Perú está puntuada por 56 faros construidos entre 1928 y 2008. Sus nombres y características son determinados por la Dirección de Hidrografía y Navegación peruana y están detallados en la publicación Lista de faros y señales náuticas. </p>
            <div class="list-faros">
              <div class="list-faros--item">
                <div class="list-faros--item--title">
                  <div>
                    <p class="m-0"><span class="c-gray">01</span> PUNTA CAPONES</p>
                    <p class="m-0">Punta Capones, Tumbes</p>
                  </div>
                  <span>1957</span>
                </div>
                <div class="list-faros--item--info">
                  <span class="c-gray">03º24’43” S - 80º18’46” W</span>
                  <img src="./static/assets/img/point.svg" alt="">
                </div>
              </div>
              <div class="list-faros--item">
                <div class="list-faros--item--title">
                  <div>
                    <p class="m-0"><span class="c-gray">01</span> PUNTA CAPONES</p>
                    <p class="m-0">Punta Capones, Tumbes</p>
                  </div>
                  <span>1957</span>
                </div>
                <div class="list-faros--item--info">
                  <span class="c-gray">03º24’43” S - 80º18’46” W</span>
                  <img src="./static/assets/img/point.svg" alt="">
                </div>
              </div>
              <div class="list-faros--item">
                <div class="list-faros--item--title">
                  <div>
                    <p class="m-0"><span class="c-gray">01</span> PUNTA CAPONES</p>
                    <p class="m-0">Punta Capones, Tumbes</p>
                  </div>
                  <span>1957</span>
                </div>
                <div class="list-faros--item--info">
                  <span class="c-gray">03º24’43” S - 80º18’46” W</span>
                  <img src="./static/assets/img/point.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <img class="header--img" src="./static/assets/img/header-2.jpg" alt="">
          <div>
            <p class="text-1">Todos los faros de la costa peruana forma parte del proyecto Irradia, una iniciativa conjunta del MALI y la Fundación Telefónica Movistar para promover la utilización de los medios de producción digital como estímulo para la creación artística.</p>
          </div>
        </div>
        {% include 'nav-list.html' %}
      </div>
    </div>
    <div id="p4" class="page header">
      <h1>
        <img class="header--img" src="./static/assets/img/header-2.jpg" alt="">
        <div class="title">
          <span>3</span>
          <p>NAVEGACIÓN</p>
        </div>
      </h1>
      <span class="closer">
        <img src="./static/assets/img/close.svg" alt="">
      </span>

      <div class="no-visible">
        <div class="box-shadow">
          <div class="pl-15 pr-15 pt-20">
            <p class="text-3 pb-80">Cada uno de los 56 faros de la costa peruana posee características físicas y operativas singulares: colores y diseño de la torre, altura focal, periodo lumínico, intensidad y alcance visual. Estas características han sido recodificadas para componer una partitura gráfica de 56 módulos. Según un sistema de correspondencias que transitan del cálculo a la indeterminación se busca delinear parámetros musicales de interpretación abierta.</p>
          </div>
          <div class="mb-100">
            <!-- TABS -->
            <div class="tabs">
              <div class="tabs-item">
                <div class="triangulo"></div>
                <div class="tabs-item--text">
                  <span>POTENCIA</span>
                  <span>&</span>
                  <span>VOLUMEN</span>
                </div>
              </div>
              <div class="tabs-item">
                <div class="triangulo"></div>
                <div class="tabs-item--text">
                  <span>ALTURA</span>
                  <span>&</span>
                  <span>TEMPO</span>
                </div>
              </div>
              <div class="tabs-item">
                <div class="triangulo"></div>
                <div class="tabs-item--text">
                  <span>PERIODO</span>
                  <span>&</span>
                  <span>RITMO</span>
                </div>
              </div>
              <div class="tabs-item">
                <div class="triangulo"></div>
                <div class="tabs-item--text">
                  <span>ALCANCE</span>
                  <span>&</span>
                  <span>TONO</span>
                </div>
              </div>
              <div class="tabs-item">
                <div class="triangulo"></div>
                <div class="tabs-item--text">
                  <span>COLOR</span>
                  <span>&</span>
                  <span>CARACTER</span>
                </div>
              </div>
            </div>
            <div class="tab-contemt pl-15 pr-15">
              <!-- POTENCIA Y VOLUMEN -->
              <div id="tab1">
                <div class="legend">
                  <div class="legend--item">
                    <div class="info">
                      <span class="c-gray">+ 100 001 cd</span>
                    </div>
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                    <div class="info">
                      <img class="w-60" src="./static/assets/img/line-1.png" alt="">
                    </div>
                  </div>
                  <div class="legend--item">
                    <div class="info">
                      <span class="c-gray">25 001 - 100 001 cd</span>
                    </div>
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                    <div class="info">
                      <img class="w-60" src="./static/assets/img/line-2.png" alt="">
                    </div>
                  </div>
                  <div class="legend--item">
                    <div class="info">
                      <span class="c-gray">2001 - 25 000 cd</span>
                    </div>
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                    <div class="info">
                      <img class="w-60" src="./static/assets/img/line-3.png" alt="">
                    </div>
                  </div>
                  <div class="legend--item">
                    <div class="info">
                      <span class="c-gray">0 - 2000 cd</span>
                    </div>
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                    <div class="info">
                      <img class="w-60" src="./static/assets/img/line-4.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="pt-20 pb-30">
                  <p class="text-3">Cada uno de los 56 faros de la costa peruana posee características físicas y operativas singulares: colores y diseño de la torre, altura focal, periodo lumínico, intensidad y alcance visual. Estas características han sido recodificadas para componer una partitura gráfica de 56 módulos. Según un sistema de correspondencias que transitan del cálculo a la indeterminación se busca delinear parámetros musicales de interpretación abierta.</p>
                </div>
                <div class="language pl-0 pr-0">
                  <div class="spanish active">
                    <span>POTENCIA</span>
                    <img src="./static/assets/img/language.svg" alt="">
                  </div>
                  <div class="english">
                    <img src="./static/assets/img/language.svg" alt="">
                    <span>VOLUMEN</span>
                  </div>
                </div>
                <!-- POTENCIA -->
                <div class="d-potencia">
                  <div class="box-1">
                    <div class="box-1--item">
                      <span class="c-gray">+ 100 001 cd</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">25 001 - 100 001 cd</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">2001 - 25 000 cd</span>
                    </div>
                    <div class="box-1--item">
                      <span>835 cd</span>
                    </div>
                  </div>
                  <div class="box-1">
                    <div class="box-1--item">
                      <span class="c-gray">+ 100 001 cd</span>
                    </div>
                    <div class="box-1--item">
                      <span>75 100 cd</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">2001 - 25 000 cd</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">0 - 2000 cd</span>
                    </div>
                  </div>
                  <div class="box-1 bb-3">
                    <div class="box-1--item">
                      <span class="c-gray">+ 100 001 cd</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">25 001 - 100 001 cd</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">2001 - 25 000 cd</span>
                    </div>
                    <div class="box-1--item">
                      <span>835 cd</span>
                    </div>
                  </div>
                  <div class="box-1 bb-3">
                    <div class="box-1--item">
                      <span class="c-gray">+ 100 001 cd</span>
                    </div>
                    <div class="box-1--item">
                      <span>75 100 cd</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">2001 - 25 000 cd</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">0 - 2000 cd</span>
                    </div>
                  </div>
                </div>
                <!-- VOLUMEN -->
                <div class="d-potencia">
                  <div class="box-1">
                    <div class="box-1--graphic">
                      <div class="graphic-black" style="height: 70%;"></div>
                    </div>
                  </div>
                  <div class="box-1">
                    <div class="box-1--graphic">
                      <div class="graphic-black" style="height: 20%;"></div>
                    </div>
                  </div>
                  <div class="box-1 bb-3">
                    <div class="box-1--graphic">
                      <div class="graphic-black" style="height: 100%;"></div>
                    </div>
                  </div>
                  <div class="box-1 bb-3">
                    <div class="box-1--graphic">
                      <div class="graphic-black" style="height: 50%;"></div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- ALTURA Y TEMPO -->
              <div id="tab2">
                <div class="legend">
                  <div class="legend--item">
                    <div class="info">
                      <span class="c-gray">+ 241  msnm</span>
                    </div>
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                    <div class="info">
                      <span>Muy lento</span>
                    </div>
                  </div>
                  <div class="legend--item">
                    <div class="info">
                      <span class="c-gray">121 - 240 msnm</span>
                    </div>
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                    <div class="info">
                      <span>Lento</span>
                    </div>
                  </div>
                  <div class="legend--item">
                    <div class="info">
                      <span class="c-gray">61 - 120 msnm</span>
                    </div>
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                    <div class="info">
                      <span>Moderado</span>
                    </div>
                  </div>
                  <div class="legend--item">
                    <div class="info">
                      <span class="c-gray">31 - 60 msnm</span>
                    </div>
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                    <div class="info">
                      <span>Rápido</span>
                    </div>
                  </div>
                  <div class="legend--item">
                    <div class="info">
                      <span class="c-gray">0 - 30 msnm</span>
                    </div>
                    <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                    <div class="info">
                      <span>Muy rápido</span>
                    </div>
                  </div>
                </div>
                <div class="pt-20 pb-30">
                  <p class="text-3">La altura focal de un faro se indica en metros sobre el nivel del mar y corresponde a la distancia vertical entre el nivel del terreno y la parte superior de la estructura luminosa. En la partitura la altura focal ha sido transformada en el tempo de interpretación. Los faros con menor altura focal se interpretan con un tempo más rápido, los faros con mayor altura focal se interpretan con un tempo más lento.</p>
                </div>
                <div class="language pl-0 pr-0">
                  <div class="spanish active">
                    <span>ALTURA</span>
                    <img src="./static/assets/img/language.svg" alt="">
                  </div>
                  <div class="english">
                    <img src="./static/assets/img/language.svg" alt="">
                    <span>TEMPO</span>
                  </div>
                </div>
                <!-- ALTURA -->
                <div class="d-altura">
                  <div class="box-1">
                    <div class="box-1--item">
                      <span class="c-gray">+ 241  msnm</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">121 - 240 msnm</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">61 - 120 msnm</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">31 - 60 msnm</span>
                    </div>
                    <div class="box-1--item">
                      <span>20 msnm</span>
                    </div>
                  </div>
                  <div class="box-1">
                    <div class="box-1--item">
                      <span class="c-gray">+ 241  msnm</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">121 - 240 msnm</span>
                    </div>
                    <div class="box-1--item">
                      <span>64 msnm</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">31 - 60 msnm</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">0 - 30 msnm</span>
                    </div>
                  </div>
                </div>
                <!-- TEMPO -->
                <div class="d-altura">
                  <div class="box-1">
                    <div class="box-1--item">
                      <span class="c-gray">Muy lento</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">Lento</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">Moderado</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">Rápido</span>
                    </div>
                    <div class="box-1--item">
                      <span>Muy rápido</span>
                    </div>
                  </div>
                  <div class="box-1">
                    <div class="box-1--item">
                      <span class="c-gray">Muy lento</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">Lento</span>
                    </div>
                    <div class="box-1--item">
                      <span>Moderado</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">Rápido</span>
                    </div>
                    <div class="box-1--item">
                      <span class="c-gray">Muy rápido</span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- PERIODO Y RITMO -->
              <div class="legend">
                <div class="legend--item">
                  <div class="info">
                    <span class="c-gray">0.25’’ - 0.5’’</span>
                  </div>
                  <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                  <div class="info">
                    <img class="w-30" src="./static/assets/img/triangulo.svg" alt="">
                    <span class="c-gray">Idea sonora corta</span>
                  </div>
                </div>
                <div class="legend--item">
                  <div class="info">
                    <span class="c-gray">0.75’’ - 1’’</span>
                  </div>
                  <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                  <div class="info">
                    <img class="w-30" src="./static/assets/img/cuadrado.svg" alt="">
                    <span class="c-gray">Idea sonora media</span>
                  </div>
                </div>
                <div class="legend--item">
                  <div class="info">
                    <span class="c-gray">2’’</span>
                  </div>
                  <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                  <div class="info">
                    <img class="w-50" src="./static/assets/img/rectangulo.svg" alt="">
                    <span class="c-gray">Idea sonora larga</span>
                  </div>
                </div>
              </div>
              <div class="pt-20 pb-30">
                <p class="text-3">El periodo de un faro es una secuencia medida en segundos que alterna destellos de luz (L.) y momentos de eclipse (Ecl.). En la partitura el periodo se ha transformado en ritmo y se expresa en la alternancia de las ideas sonoras y los intervalos de silencio que les siguen. La duración de los destellos de luz sugiere la extensión de las ideas sonoras. Los espacios en blanco entre las ideas sonoras responden a los tiempos de eclipse y señalan los silencios en la partitura.</p>
              </div>
              <div class="language pl-0 pr-0">
                <div class="spanish active">
                  <span>PERIODO</span>
                  <img src="./static/assets/img/language.svg" alt="">
                </div>
                <div class="english">
                  <img src="./static/assets/img/language.svg" alt="">
                  <span>RITMO</span>
                </div>
              </div>
              <!-- PERIODO -->
              <div class="d-periodo">
                <div class="box-2">
                  <p class="pt-0">Periodo 15 segundos</p>
                  <p>3 destellos</p>
                  <p class="m-0">L. 05 -- Ecl. 1.5</p>
                  <p class="m-0">L. 05 -- Ecl. 1.5</p>
                  <p class="m-0">L. 05 -- Ecl. 1.5</p>
                </div>
                <div class="box-2">
                  <p class="pt-0">Periodo 10 segundos</p>
                  <p>1 destello</p>
                  <p class="m-0">L. 05 -- Ecl. 1.5</p>
                </div>
                <div class="box-2">
                  <p class="pt-0">Periodo 15 segundos</p>
                  <p>3 destellos</p>
                  <p class="m-0">L. 05 -- Ecl. 1.5</p>
                  <p class="m-0">L. 05 -- Ecl. 1.5</p>
                  <p class="m-0">L. 05 -- Ecl. 1.5</p>
                </div>
                <div class="box-2">
                  <p class="pt-0">Periodo 10 segundos</p>
                  <p>1 destello</p>
                  <p class="m-0">L. 05 -- Ecl. 1.5</p>
                </div>
              </div>
              <!-- RITMO -->
              <div class="d-altura">
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="w-80" src="./static/assets/img/triangulo-rojo.svg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="w-80" src="./static/assets/img/triangulo-negro.svg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="w-80" src="./static/assets/img/triangulo-linea.svg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="w-100" src="./static/assets/img/rectangulo-linea.svg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="w-80" src="./static/assets/img/cuadrado-rojo.svg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="w-80" src="./static/assets/img/triangulo-medio.svg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="w-80" src="./static/assets/img/triangulo-gris.svg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="w-80" src="./static/assets/img/triangulo-azul.svg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="w-80" src="./static/assets/img/cuadrado-linea.svg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="w-80" src="./static/assets/img/cuadrado-medio.svg" alt="">
                  </div>
                </div>
                <div class="box-1 bb-3">
                  <div class="box-1--item">
                    <img class="w-80" src="./static/assets/img/triangulo-amarillo.svg" alt="">
                  </div>
                </div>
                <div class="box-1 bb-3">
                  <div class="box-1--item">
                    <img class="w-80" src="./static/assets/img/triangulo-naranja.svg" alt="">
                  </div>
                </div>
              </div>

              <!-- ALCANCE Y TONO -->
              <div class="legend">
                <div class="legend--item">
                  <div class="info">
                    <span class="c-gray">24 - 27 millas</span>
                  </div>
                  <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                  <div class="info">
                    <span>Bajo</span>
                  </div>
                </div>
                <div class="legend--item">
                  <div class="info">
                    <span class="c-gray">19 - 23 millas</span>
                  </div>
                  <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                  <div class="info">
                    <span>Semi bajo</span>
                  </div>
                </div>
                <div class="legend--item">
                  <div class="info">
                    <span class="c-gray">14 - 18 millas</span>
                  </div>
                  <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                  <div class="info">
                    <span>Medio</span>
                  </div>
                </div>
                <div class="legend--item">
                  <div class="info">
                    <span class="c-gray">9 - 13 millas</span>
                  </div>
                  <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                  <div class="info">
                    <span>Semi alto</span>
                  </div>
                </div>
                <div class="legend--item">
                  <div class="info">
                    <span class="c-gray">4 - 8 millas</span>
                  </div>
                  <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                  <div class="info">
                    <span>Alto</span>
                  </div>
                </div>
              </div>
              <div class="pt-20 pb-30">
                <p class="text-3">Todos los faros cuentan con dos tipos de alcances estimados en millas náuticas: un alcance nominal y un alcance geográfico. El alcance nominal corresponde a la distancia máxima dentro de la cual la luminosidad de un faro es perceptible en una atmósfera homogénea. El alcance geográfico indica la distancia máxima de visibilidad de un faro durante el día y está sujeto a la configuración y las interrupciones del terreno así como a las alturas relativas del observador y el faro. Los alcances de los faros dan lugar a los tonos de las ideas sonoras. Por lo general cada módulo incorpora la notación de las ideas sonoras duplicadas en dos niveles para evocar los dos tipos de alcances. Un módulo presentará las ideas sonoras desplegadas en un solo nivel cuando los alcances nominal y geográfico del faro correspondiente coincidan.</p>
              </div>
              <div class="language pl-0 pr-0">
                <div class="spanish active">
                  <span>ALCANCE</span>
                  <img src="./static/assets/img/language.svg" alt="">
                </div>
                <div class="english">
                  <img src="./static/assets/img/language.svg" alt="">
                  <span>TONO</span>
                </div>
              </div>
              <!-- ALCANCE -->
              <div class="d-altura">
                <div class="box-1">
                  <div class="box-1--item">
                    <span>13 millas</span>
                  </div>
                  <div class="box-1--item">
                    <span>9 millas</span>
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <span>20 millas</span>
                  </div>
                  <div class="box-1--item">
                    <span>19 millas</span>
                  </div>
                </div>
                <div class="box-1 bb-3">
                  <div class="box-1--item">
                    <span>19 millas</span>
                  </div>
                  <div class="box-1--item">
                    <span>18 millas</span>
                  </div>
                </div>
                <div class="box-1 bb-3">
                  <div class="box-1--item">
                    <span>17 millas</span>
                  </div>
                  <div class="box-1--item">
                    <span>16 millas</span>
                  </div>
                </div>
              </div>
              <!-- TONO -->
              <div class="d-altura">
                <div class="box-1">
                  <div class="box-1--item">
                    
                  </div>
                  <div class="box-1--item">
                    
                  </div>
                  <div class="box-1--item">
                    
                  </div>
                  <div class="box-1--item">
                    <img class="graphic-tono medio" src="./static/assets/img/triangulo-rojo.svg" alt="">
                  </div>
                  <div class="box-1--item">
                    <img class="graphic-tono medio" src="./static/assets/img/triangulo-rojo.svg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    
                  </div>
                  <div class="box-1--item">
                    
                  </div>
                  <div class="box-1--item">
                    
                  </div>
                  <div class="box-1--item">
                    <img class="graphic-tono" src="./static/assets/img/triangulo-rojo.svg" alt="">
                  </div>
                  <div class="box-1--item">
                    <img class="graphic-tono" src="./static/assets/img/triangulo-rojo.svg" alt="">
                  </div>
                </div>
              </div>

              <!-- COLOR Y CARACTER -->
              <div class="legend">
                <div class="legend--item">
                  <div class="info">
                    <span class="c-gray">24 - 27 millas</span>
                  </div>
                  <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                  <div class="info">
                    <span>Bajo</span>
                  </div>
                </div>
                <div class="legend--item">
                  <div class="info">
                    <span class="c-gray">19 - 23 millas</span>
                  </div>
                  <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                  <div class="info">
                    <span>Semi bajo</span>
                  </div>
                </div>
                <div class="legend--item">
                  <div class="info">
                    <span class="c-gray">14 - 18 millas</span>
                  </div>
                  <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                  <div class="info">
                    <span>Medio</span>
                  </div>
                </div>
                <div class="legend--item">
                  <div class="info">
                    <span class="c-gray">9 - 13 millas</span>
                  </div>
                  <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                  <div class="info">
                    <span>Semi alto</span>
                  </div>
                </div>
                <div class="legend--item">
                  <div class="info">
                    <span class="c-gray">4 - 8 millas</span>
                  </div>
                  <img class="arrow" src="./static/assets/img/arrow.svg" alt="">
                  <div class="info">
                    <span>Alto</span>
                  </div>
                </div>
              </div>
              <div class="pt-20 pb-30">
                <p class="text-3">Los colores de las ideas sonoras coinciden en cada módulo con los colores de la torre del faro al que aluden. Los colores marcan el carácter de la interpretación. Cada intérprete define a voluntad el carácter propio de cada color en la partitura.</p>
              </div>
              <div class="language pl-0 pr-0">
                <div class="spanish active">
                  <span>COLOR</span>
                  <img src="./static/assets/img/language.svg" alt="">
                </div>
                <div class="english">
                  <img src="./static/assets/img/language.svg" alt="">
                  <span>CARÁCTER</span>
                </div>
              </div>
              <!-- COLOR -->
              <div class="d-altura">
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/faros/1-Punta-Capones.jpg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/faros/2-Contralmirante-Villar.jpg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/faros/3-Mancora.jpg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/faros/4-Cabo-Blanco.jpg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/faros/5-Punta-Talara.jpg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/faros/6-PuntaPariñas.jpg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/faros/7-Punta-Telegrafo.png" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/faros/8-Isla-Foca.jpg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/faros/9-Bayovar.png" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/faros/10 Punta la Negra.jpg" alt="">
                  </div>
                </div>
                <div class="box-1 bb-3">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/faros/11 Isla Lobos de Tierra.jpg" alt="">
                  </div>
                </div>
                <div class="box-1 bb-3">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/faros/12 San José.jpg" alt="">
                  </div>
                </div>
              </div>
              <!-- CARACTER -->
              <div class="d-altura">
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/box-1.jpg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/box-2.jpg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/box-3.jpg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/box-4.jpg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/box-5.jpg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/box-6.jpg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/box-7.jpg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/box-8.jpg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/box-9.jpg" alt="">
                  </div>
                </div>
                <div class="box-1">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/box-10.jpg" alt="">
                  </div>
                </div>
                <div class="box-1 bb-3">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/box-11.jpg" alt="">
                  </div>
                </div>
                <div class="box-1 bb-3">
                  <div class="box-1--item">
                    <img class="faros-img" src="./static/assets/img/box-24.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <img class="header--img" src="./static/assets/img/header-2.jpg" alt="">
          <div>
            <p class="text-1">Todos los faros de la costa peruana forma parte del proyecto Irradia, una iniciativa conjunta del MALI y la Fundación Telefónica Movistar para promover la utilización de los medios de producción digital como estímulo para la creación artística.</p>
          </div>
        </div>
        {% include 'nav-list.html' %}
      </div>
    </div>
    <div id="p5" class="page header">
      <h1>
        <img class="header--img" src="./static/assets/img/header-3.jpg" alt="">
        <div class="title">
          <span>4</span>
          <p>PARTITURA</p>
        </div>
      </h1>
      <span class="closer">
        <img src="./static/assets/img/close.svg" alt="">
      </span>
    </div>
    <div id="p6" class="page header">
      <h1>
        <img class="header--img" src="./static/assets/img/header-3.jpg" alt="">
        <div class="title">
          <span>5</span>
          <p>INTERPRETACIONES</p>
        </div>
      </h1>
      <span class="closer">
        <img src="./static/assets/img/close.svg" alt="">
      </span>
    </div>
    <div id="p7" class="page header">
      <h1>
        <img class="header--img" src="./static/assets/img/header-3.jpg" alt="">
        <div class="title">
          <span>6</span>
          <p>PODCASTS</p>
        </div>
      </h1>
      <span class="closer">
        <img src="./static/assets/img/close.svg" alt="">
      </span>
    </div>
    <div id="p8" class="page header">
      <h1>
        <img class="header--img" src="./static/assets/img/header-4.jpg" alt="">
        <div class="title">
          <span>7</span>
          <p>CRÉDITOS</p>
        </div>
      </h1>
      <span class="closer">
        <img src="./static/assets/img/close.svg" alt="">
      </span>
    </div>
    <div id="p9" class="page header">
      <h1>
        <img class="header--img" src="./static/assets/img/header-4.jpg" alt="">
        <div class="title">
          <span>8</span>
          <p>AGRADECIMIENTOS</p>
        </div>
      </h1>
      <span class="closer">
        <img src="./static/assets/img/close.svg" alt="">
      </span>
    </div>
  </div>
</div>
{%- endblock %} {% block scripts %} {%- endblock %}
