<div id="p4" class="page header">
  <div class="perspected">
    <div class="overlayer triggerFunction showing" rel="#p4"></div>
    <h1 class="title-normal" rel="#p4">
      <img class="header--img" src="./static/assets/img/header-2.svg" alt="" />
      <div class="title center">
        <span>3</span>
        <p>NAVEGACIÓN</p>
      </div>
    </h1>
    <span class="closer" id="closerNav">
      <img src="./static/assets/img/close.svg" alt="" />
    </span>

    <span class="arrow-back" id="closerSect">
      <img src="./static/assets/img/arrow-back.svg" alt="" />
    </span>

    <div class="no-visible">
      <div class="box-shadow">
        <div class="pl-15 pr-15 pt-20 center" id="texto-intro">
          <p class="text-3 pb-80 pt-30">
            Cada uno de los 56 faros de la costa peruana posee características
            físicas y operativas singulares: colores y diseño de la torre, altura
            focal, periodo lumínico, intensidad y alcance visual. Estas
            características han sido recodificadas para componer una partitura
            gráfica de 56 módulos. Según un sistema de correspondencias que
            transitan del cálculo a la indeterminación se busca delinear
            parámetros musicales de interpretación abierta.
          </p>
        </div>
        <div class="mb-100">
          <!-- TABS -->
          <div id="trigger-container" class="tabs">
            <div class="tabs-item">
              <div class="triangulo"></div>
              <div class="tabs-item--text" rel="#tab1">
                <span>POTENCIA</span>
                <span>&</span>
                <span>VOLUMEN</span>
              </div>
            </div>
            <div class="tabs-item">
              <div class="triangulo"></div>
              <div class="tabs-item--text" rel="#tab2">
                <span>ALTURA</span>
                <span>&</span>
                <span>TEMPO</span>
              </div>
            </div>
            <div class="tabs-item">
              <div class="triangulo"></div>
              <div class="tabs-item--text" rel="#tab3">
                <span>PERIODO</span>
                <span>&</span>
                <span>RITMO</span>
              </div>
            </div>
            <div class="tabs-item">
              <div class="triangulo"></div>
              <div class="tabs-item--text" rel="#tab4">
                <span>ALCANCE</span>
                <span>&</span>
                <span>TONO</span>
              </div>
            </div>
            <div class="tabs-item">
              <div class="triangulo"></div>
              <div class="tabs-item--text" rel="#tab5">
                <span>COLOR</span>
                <span>&</span>
                <span>CARACTER</span>
              </div>
            </div>
          </div>
          <div id="tab-container" class="tab-content">
            <!-- POTENCIA Y VOLUMEN -->
            {% include 'tab1.html' %}

            <!-- ALTURA Y TEMPO -->
            {% include 'tab2.html' %}

            <!-- PERIODO Y RITMO -->
            {% include 'tab3.html' %}

            <!-- ALCANCE Y TONO -->
            {% include 'tab4.html' %}

            <!-- COLOR Y CARACTER -->
            {% include 'tab5.html' %}

          </div>
        </div>

        <img class="header--img" src="./static/assets/img/header-2.svg" alt="" />
        <div class="center">
          <p class="text-1">
            Todos los faros de la costa peruana forma parte del proyecto Irradia,
            una iniciativa conjunta del MALI y la Fundación Telefónica Movistar
            para promover la utilización de los medios de producción digital como
            estímulo para la creación artística.
          </p>
        </div>
      </div>
      {% include 'nav-list.html' %}
    </div>
  </div>
</div>