<div id="p3" class="page header">
  <div class="perspected">
    <div class="overlayer triggerFunction showing" rel="#p3"></div>
    <h1 class="title-normal" rel="#p3">
      <img class="header--img" src="./static/assets/img/header-2.svg" alt="" />
      <div class="title center">
        <span class="number">5</span>
        <p class="black special-title" data-translatable>
          <span>LIGHTHOUSES LIST</span><span>LISTA DE FAROS</span>
        </p>
      </div>
    </h1>
    <span class="closer">
      <img src="./static/assets/img/close.svg" alt="" />
    </span>
    <!-- <span class="arrow-back">
      <img src="./static/assets/img/arrow-back.svg" alt="" />
    </span> -->

    <div class="no-visible">
      <div class="box-shadow">
        <div class="pl-15 pr-15 present-paddings center">
          <p class="text-3 faros-text" data-translatable>
            <span
              >The maritime lighthouses are light signals strung along the
              coast. The function of each is to guide navigators with its own
              simple but effective code. This guidance takes place during
              daylight hours as well as at night. During daylight hours, these
              lighthouses distinguish themselves by their physical appearance,
              during the hours of darkness, their beacons create their
              particular identities. Currently 56 lighthouses built between 1928
              and 2008 punctuate the coast of Peru. </span
            ><span
              >Los faros marítimos son señales luminosas encadenadas en el
              litoral. Cada uno de ellos posee un código propio, simple pero
              efectivo, cuya función es orientar a los navegantes. La guía
              acontece en horas de día como en el lapso de noche. En la claridad
              los faros se diferencian unos de otros por su apariencia física;
              en la oscuridad se identifican por su tipo de luz. Actualmente la
              costa del Perú está puntuada por 56 faros construidos entre 1928 y
              2008.
            </span>
          </p>
          <ul class="list-faros" id="placesList"></ul>
        </div>
        <img
          class="header--img"
          src="./static/assets/img/header-2.svg"
          alt=""
        />
        <div class="center">
          <p class="text-1" data-translatable>
            <span
              ><i>All the lighthouses of the peruvian coast</i> is part of the
              Irradia project, a joint initiative of MALI and the Fundación
              Telefónica Movistar to promote the use of digital means of
              production as encouragement for artistic creation.</span
            ><span>
              <i>Todos los faros de la costa peruana</i> forma parte del
              proyecto Irradia, una iniciativa conjunta del MALI y la Fundación
              Telefónica Movistar para promover la utilización de los medios de
              producción digital como estímulo para la creación artística.</span
            >
          </p>
        </div>
      </div>
      {% include 'nav-list.html' %}
      <img class="header--img" src="./static/assets/img/header-2.svg" alt="" />
      {% include 'send.html' %}
    </div>
  </div>
</div>
