<div id="p9" class="page header">
  <div class="perspected">
    <div class="overlayer triggerFunction showing" rel="#p9"></div>
    <h1 class="title-normal" rel="#p9">
      <img class="header--img" src="./static/assets/img/header-4.svg" alt="" />
      <div class="title center">
        <span class="number">8</span>
        <p class="black" data-translatable><span>ACKNOWLEDGMENTS</span><span>AGRADECIMIENTOS</span></p>
      </div>
    </h1>
    <span class="closer">
      <img src="./static/assets/img/close.svg" alt="" />
    </span>
    <div class="no-visible">
      <div class="box-shadow">
        <div class="pl-15 pr-15 present-paddings agradecimientos text-center">
          <ul class="center names-to-use">
            <li class="names-used">Prado Michael</li>
            <li class="names-used">Vera Rodrigo</li>
            <li class="names-used">Vera Santiago</li>
            <li class="names-used">Ezeta</li>
            <li class="names-used">Leguía</li>
            <li class="names-used">Cáceres</li>
            <li class="names-used">Pillado</li>
            <li class="names-used">Chrem</li>
            <li class="names-used">Paruro</li>
            <li class="names-used">Engelhard</li>
            <li class="names-used">Fathy</li>
            <li class="names-used">Castello Branco</li>
            <li class="names-used">Szendy</li>
            <li class="names-used">Cabrera</li>
            <li class="names-used">Padilla</li>
            <li class="names-used">Gandolfo</li>
            <li class="names-used">Lafferranderie Emilio</li>
            <li class="names-used">Mayer Benjamin</li>
            <li class="names-used">Alvarado Luis</li>
            <li class="names-used">Espinosa</li>
            <li class="names-used">Balarezo</li>
            <li class="names-used">Rodriguez-Arnaiz</li>
            <li class="names-used">Dam Paulo</li>
            <li class="names-used">Bauer Ralph</li>
            <li class="names-used">Bedoya Juan Enrique</li>
            <li class="names-used">Lafferranderie Blas</li>
            <li class="names-used">Lafferranderie Julián</li>
            <li class="names-used">Soenens Janine</li>
            <li class="names-used">Balta Varillas</li>
            <li class="names-used">Lauer Mirko</li>
            <li class="names-used">Ortiz Sotelo</li>
            <li class="names-used">Lerner Sharon</li>
            <li class="names-used">Lavalle Omar</li>
            <li class="names-used">Espinoza Sairah</li>
            <li class="names-used">García de Polavieja Lucia</li>
            <li class="names-used">Yupa Luisa</li>
            <li class="names-used">Hare Pablo</li>
            <li class="names-used">Salas Juan</li>
            <li class="names-used">Prudencio Ignacio</li>
            <li class="names-used">Benetti Laura</li>
            <li class="names-used">Arévalo Antoinette</li>
            <li class="names-used">Acevedo Gabriel</li>
            <li class="names-used">Mariátegui José Carlos</li>
            <li class="names-used">Cussen Felipe</li>
            <li class="names-used">Myers Robin</li>
            <li class="names-used">Representante Anne Carson</li>
            <li class="names-used">Hija de Lucia Castello</li>
            <li class="names-used">Lopez Miguel</li>
          </ul>
        </div>
        <img class="header--img" src="./static/assets/img/header-4.svg" alt="" />
        <div class="center advice">
          <p class="text-1" data-translatable>
            <span>All the lighthouses of the peruvian coast is part of the Irradia project,
              a joint initiative of MALI and the Fundación Telefónica Movistar to
              promote the use of digital means of production as
              encouragement for artistic creation.</span>
            <span>Todos los faros de la costa peruana forma parte del proyecto Irradia,
              una iniciativa conjunta del MALI y la Fundación Telefónica Movistar
              para promover la utilización de los medios de producción digital como
              estímulo para la creación artística.</span>
          </p>
        </div>
      </div>
      {% include 'nav-list.html' %}
      <img class="header--img" src="./static/assets/img/header-4.svg" alt="" />
      {% include 'send.html' %}
    </div>
  </div>
</div>