<div id="p2" class="page header">
  <div class="perspected">
    <div class="overlayer triggerFunction showing" rel="#p2"></div>
    <h1 class="title-normal" rel="#p2">
      <img class="header--img" src="./static/assets/img/header-1.svg" alt="" />
      <div class="title center">
        <span class="number">1</span>
        <p class="black" data-translatable>
          <span>PRESENTATION</span><span>PRESENTACIÓN</span>
        </p>
      </div>
    </h1>
    <span class="closer">
      <img src="./static/assets/img/close.svg" alt="" />
    </span>
    <div class="no-visible">
      <div class="box-shadow">
        <div class="pl-15 pr-15 present-paddings center">
          <p class="text-3 mb-pres" data-translatable>
            <span
              ><i>All the Lighthouses of the Peruvian Coast</i> is a
              multidisciplinary project that explores the relationships between
              navigation, sound and writing.</span
            >
            <span
              ><i>Todos los faros de la costa peruana</i> es un proyecto
              multidisciplinar que explora las relaciones entre navegación,
              sonido y escritura.</span
            >
          </p>
          <p class="text-3 mb-pres" data-translatable>
            <span
              >Based on the lighting and structural characteristics of the
              <a class="body-links linktopage" rel="#p3">56 lighthouses</a>
              deployed along the 3,000 kilometers of the Peruvian coast, Luz
              María Bedoya has created a graphic
              <a class="body-links linktopage" rel="#p5">score</a> to be freely
              interpreted by various musicians. It is a score of open notations
              that assumes the indeterminacy of experimental music. Along with
              this, the artist has invited several authors to elaborate a text
              inspired by specific concepts of the nautical language, which lead
              to reflections on music, navigation, the body and the present
              moment in the still diffuse post-Covid 19 world order. All the
              Llighthouses of the Peruvian Coast thus forms a network of
              notational systems capable of mutually feeding back and diverting
              each other.
            </span>
            <span
              >A partir de las características lumínicas y estructurales de los
              <a class="body-links linktopage" rel="#p3">56 faros</a>
              desplegados a lo largo de los 3,000 kilómetros del litoral
              peruano, Luz María Bedoya ha creado una
              <a class="body-links linktopage" rel="#p5">partitura</a> gráfica
              para ser interpretada libremente por diversos músicos. Se trata de
              una partitura de notaciones abiertas que asume la indeterminación
              de la música experimental. Junto a ello, la artista ha invitado a
              varios autores a elaborar un texto inspirado en conceptos
              específicos del lenguaje náutico, los cuales conducen a
              reflexiones sobre música, navegación, cuerpo y el momento presente
              en el aún difuso orden mundial post-Covid 19.
            </span>
          </p>
          <p class="text-3 mb-pres" data-translatable>
            <span
              >This website is a repository of the graphic score creation
              <a class="body-links linktopage" rel="#p4">process</a>. It also
              houses the
              <a class="body-links linktopage" rel="#p6">sound pieces</a>
              performed by the musicians and the texts recorded by their authors
              in a series of
              <a class="body-links linktopage" rel="#p7">podcasts</a>. Both the
              sound performances and the podcasts will be published periodically
              on this platform.
            </span>
            <span
              >Esta página web es un repositorio del
              <a class="body-links linktopage" rel="#p4">proceso </a> creación
              de la partitura gráfica. También alberga las
              <a class="body-links linktopage" rel="#p6">piezas sonoras</a>
              interpretadas por los músicos y los textos grabados por sus
              autores en una serie de
              <a class="body-links linktopage" rel="#p7">podcasts</a>. Tanto las
              interpretaciones sonoras como los podcasts serán publicados
              periódicamente en esta plataforma.</span
            >
          </p>
          <p class="text-3 mb-pres" data-translatable>
            <span
              >This digital presentation of
              <i>All The Lighthouses of the Peruvian Coast</i> will be
              accompanied by a physical installation as well as live
              performances when sanitary conditions for the public are
              guaranteed.
            </span>
            <span
              >Esta entrega digital de
              <i>Todos los faros de la costa peruana</i> será acompañada por una
              instalación física además de presentaciones en vivo cuando las
              condiciones sanitarias para el público se encuentren
              garantizadas.</span
            >
          </p>
          <!-- <p class="text-3 mb-pres" data-translatable>
            <span>At the crossroads of sound and writing, “All the Llighthouses of the Peruvian Coast” thus forms a
              network of generative notational systems capable of mutually feeding back and diverting each other.</span>
            <span></span>
          </p> -->
          <!-- <div class="date-sign">
            <p class="m-0">Luz María Bedoya</p>
            <p class="m-0 c-gray" data-translatable>
              <span>January, 2021</span> <span>Enero, 2021</span>
            </p>
          </div> -->
          <div class="pb-80 guests-list">
            <span class="text-decoration guest-title" data-translatable
              ><span>Guests</span><span>Invitados</span></span
            >
            <ul class="list-name">
              <li>Anne Carson</li>
              <li>Gabriela Ezeta</li>
              <li>José Ignacio Padilla</li>
              <li>Lucia Castello Branco</li>
              <li>Macri Cáceres</li>
              <li>Orieta Chrem</li>
              <li>Paruro [Danny Caballero]</li>
              <li>Peter Szsendy</li>
              <li>Safaa Fathy</li>
              <li>Santiago Pillado</li>
              <li>Santiago Vera</li>
              <li>Teté Leguía</li>
              <li>Vered Engelhard</li>
            </ul>
          </div>
        </div>
        <img
          class="header--img"
          src="./static/assets/img/header-1.svg"
          alt=""
        />
        <div class="center advice">
          <p class="text-1" data-translatable>
            <span
              >All the lighthouses of the peruvian coast is part of the Irradia
              project, a joint initiative of MALI and the Fundación Telefónica
              Movistar to promote the use of digital means of production as
              encouragement for artistic creation.</span
            >
            <span
              >Todos los faros de la costa peruana forma parte del proyecto
              Irradia, una iniciativa conjunta del MALI y la Fundación
              Telefónica Movistar para promover la utilización de los medios de
              producción digital como estímulo para la creación artística.</span
            >
          </p>
        </div>
      </div>
      {% include 'nav-list.html' %}
      <img class="header--img" src="./static/assets/img/header-1.svg" alt="" />
      {% include 'send.html' %}
    </div>
  </div>
</div>
