html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: -apple-system-body, "Helvetica Neue", Helvetica Neue, "Helvetica",
    Helvetica, Arial, sans-serif;
  background: #898989; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #898989 0%,
    #3f3f3f 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, #898989),
    color-stop(100%, #3f3f3f)
  ); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #898989 0%,
    #3f3f3f 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(
    center,
    ellipse cover,
    #898989 0%,
    #3f3f3f 100%
  ); /* Opera 12+ */
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    #898989 0%,
    #3f3f3f 100%
  ); /* IE10+ */
  background: radial-gradient(
    ellipse at center,
    #898989 0%,
    #3f3f3f 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#898989', endColorstr='#3f3f3f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
* {
  transform-style: preserve-3d;
}

#wrapper {
  overflow: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: -16px;
  perspective: 500px;
  background: rgb(50, 50, 50);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#container {
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0%;
  height: 100%;
  overflow: auto;

  &.closed {
    overflow: hidden;
  }
}

.page {
  height: inherit;
  width: 96%;
  position: absolute;
  left: 2%;
  background: white;
  transition: all 0.25s ease-in-out;
  transform: rotateX(-30deg) translateX(0%);
  transform-origin: 50% 0%;
  box-shadow: 0px -10px 50px 0px rgba(0, 0, 0, 0.05);
  z-index: 0;
  overflow: auto;
  box-sizing: border-box;

  .no-visible {
    transition: all 0.3s ease-in-out;
    display: none;

    &.visible {
      transition: all 0.3s ease-in-out;
      display: block;
    }
  }

  h1 {
    font-size: 0;
    margin-bottom: 0;
    pointer-events: none;
  }

  &.normal {
    transition: all 0.35s ease-in-out;
    transform: rotateX(0deg) translateX(0%) translateY(-30px);
    width: 100%;
    top: 30px !important;
    left: 0;
    box-shadow: none !important;
  }
}

#p1.page {
  top: 0px;
}
#p2.page {
  top: 90px;
}
#p3.page {
  top: 180px;
}
#p4.page {
  top: 270px;
}
#p5.page {
  top: 360px;
}
#p6.page {
  top: 450px;
}
#p7.page {
  top: 540px;
}
#p8.page {
  top: 630px;
}
#p9.page {
  top: 720px;
}

.header {
  &--img {
    height: 16px;
    object-fit: cover;
    width: 100%;
  }

  .title {
    align-items: center;
    display: flex;
    font-size: 28px;
    font-weight: 400;
    height: 50px;
    padding: 15px;

    span {
      color: #979696;
      padding-right: 5px;
    }
  }
}

.language {
  padding: 15px;

  .spanish,
  .english {
    align-items: center;
    border-radius: 50px;
    border: 3px solid black;
    height: 40px;
    justify-content: space-between;
    display: none;

    &.active {
      display: flex;
    }

    span {
      font-size: 28px;
      font-weight: 400;
      padding: 0 15px;
    }

    img {
      width: 35px;
      height: 35px;
      padding: 0 5px;
    }
  }
}

.closer {
  float: right;
  height: 40px;
  position: sticky;
  right: 15px;
  top: 120px;
  width: 40px;
  z-index: 9;

  img {
    width: 40px;
    height: 40px;
  }
}

.box-shadow {
  box-shadow: 0px -10px 11px 0px rgba(0, 0, 0, 0.19);
}

.text-1 {
  color: #949494;
  font-size: 14px;
  margin: 0;
  padding: 24px 15px;
  text-align: center;
}

.text-2 {
  font-size: 28px;
}

.text-3 {
  font-size: 15px;
  margin: 0;
  padding-bottom: 15px;
}

.list-nav {
  list-style: none;
  margin-bottom: 0;
  margin-top: 30px;
  padding: 0;

  a {
    align-items: center;
    color: black;
    display: flex;
    font-size: 28px;
    margin-bottom: 5px;
    text-decoration: none;

    span {
      color: #979696;
      padding-right: 5px;
    }

    p {
      margin: 0;
    }
  }
}

.list-name {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;

  li {
    font-size: 28px;
  }
}

.list-faros {
  margin-bottom: 100px;
  border-bottom: 3px solid;

  &--item {
    padding: 15px 0;
    border-top: 3px solid;

    .list-faros--item--title {
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
    }

    .list-faros--item--info {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      img {
        width: 26px;
      }
    }
  }
}

.tabs {
  display: flex;
  flex-direction: column;

  &-item {
    border-top: 2px solid;

    .triangulo {
      position: relative;
      height: 20px;

      &::before {
        content: "";
        background-image: url("assets/img/tab-active.svg");
        background-size: 100%;
        height: 20px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-repeat: no-repeat;
      }
    }

    &--text {
      display: block;
      padding: 20px 0;

      span {
        text-align: center;
        display: block;
        font-size: 28px;
        line-height: 34px;
      }
    }

    &.disabled {
      border-top: 2px solid #ebebeb;
      margin-bottom: 20px;

      .tabs-item--text {
        display: none;
      }

      .triangulo {
        &::before {
          content: "";
          background-image: url("assets/img/tab.svg");
        }
      }
    }
  }
}

.legend {
  border-top: 3px solid;
  border-bottom: 3px solid;

  &--item {
    align-items: center;
    border-bottom: 1px solid #c7c7c7;
    display: flex;
    padding: 10px 0;

    .info {
      width: 100%;
      text-align: center;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .arrow {
      width: 30px;
    }
  }
}

.box-1 {
  border-top: 3px solid;
  padding-bottom: 10px;
  width: 100%;
  margin: 0 5px;
  height: 145px;
  display: flex;
  flex-direction: column;

  &--item {
    align-items: center;
    display: flex;
    text-align: center;
    border-bottom: 1px solid #c7c7c7;
    padding: 10px 0;
    font-size: 12px;
    height: 100%;
    justify-content: center;
    padding: 10px 0;
    position: relative;
    text-align: center;

    &:last-child {
      border-bottom: 3px solid #c7c7c7;
    }

    .faros-img {
      width: 100%;
      height: 100%;
    }
  }

  &--graphic {
    height: 100%;
    border-bottom: 3px solid;
    position: relative;

    .graphic-black {
      background: rgb(0, 0, 0);
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(36, 36, 36, 1) 72%,
        rgba(138, 138, 138, 0.844068205758427) 95%,
        rgba(255, 255, 255, 0) 100%
      );
      position: absolute;
      bottom: 0%;
      left: 0;
      right: 0;
    }
  }
}

.box-2 {
  border: 3px solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.d-potencia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 5px;
  margin-bottom: 20px;
}

.d-altura {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 5px;
  margin-bottom: 20px;

  .box-1 {
    height: 177px;
  }
}

.d-periodo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  margin-bottom: 20px;
}

.graphic-tono {
  width: 30px;
  position: absolute;
  top: 5px;

  &.medio {
    top: -50%;
  }
}

// GENERAL
.m-0 {
  margin: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.pl-5 {
  padding-left: 5px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pt-0 {
  padding-top: 0;
}

.pt-20 {
  padding-top: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-80 {
  padding-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.c-gray {
  color: #949494;
}

.text-decoration {
  text-decoration: underline;
}

.w-30 {
  width: 30px;
}

.w-50 {
  width: 50px;
}

.w-60 {
  width: 60px;
}

.w-80 {
  width: 80px;
}

.w-100 {
  width: 100px;
}

.d-grid {
  display: grid;
}

.bb-3 {
  border-bottom: 3px solid;
}
