html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: -apple-system-body, "Helvetica Neue", Helvetica Neue, "Helvetica", Helvetica, Arial, sans-serif;
  background: #898989;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #898989 0%, #3f3f3f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #898989), color-stop(100%, #3f3f3f));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #898989 0%, #3f3f3f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #898989 0%, #3f3f3f 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #898989 0%, #3f3f3f 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #898989 0%, #3f3f3f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#898989", endColorstr="#3f3f3f",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

* {
  transform-style: preserve-3d;
}

#wrapper {
  overflow: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: -16px;
  perspective: 500px;
  background: #323232;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#container {
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0%;
  height: 100%;
  overflow: auto;
}
#container.closed {
  overflow: hidden;
}

.page {
  height: inherit;
  width: 96%;
  position: absolute;
  left: 2%;
  background: white;
  transition: all 0.25s ease-in-out;
  transform-origin: 50% 0%;
  box-shadow: 0px -10px 50px 0px rgba(0, 0, 0, 0.05);
  z-index: 0;
  overflow: auto;
  box-sizing: border-box;
}
.page .no-visible {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.page .no-visible.visible {
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
.page h1 {
  font-size: 0;
  margin-bottom: 0;
  pointer-events: none;
}
.page.normal {
  transition: all 0.35s ease-in-out;
  transform: rotateX(0deg) translateX(0%) translateY(-30px);
  width: 100%;
  top: 30px !important;
  left: 0;
  box-shadow: none !important;
}

#p1.page {
  top: 0px;
}

#p2.page {
  top: 90px;
}

#p3.page {
  top: 180px;
}

#p4.page {
  top: 270px;
}

#p5.page {
  top: 360px;
}

#p6.page {
  top: 450px;
}

#p7.page {
  top: 540px;
}

#p8.page {
  top: 630px;
}

#p9.page {
  top: 720px;
}

.header--img {
  height: 16px;
  object-fit: cover;
  width: 100%;
}
.header .title {
  align-items: center;
  display: flex;
  font-size: 28px;
  font-weight: 400;
  height: 50px;
  padding: 15px;
}
.header .title span {
  color: #979696;
  padding-right: 5px;
}

.language {
  padding: 15px;
}
.language .spanish,
.language .english {
  align-items: center;
  border-radius: 50px;
  border: 3px solid black;
  height: 40px;
  justify-content: space-between;
  padding: 0 5px 0 15px;
  display: none;
}
.language .spanish.active,
.language .english.active {
  display: flex;
}
.language .spanish span,
.language .english span {
  font-size: 28px;
  font-weight: 400;
}
.language .spanish img,
.language .english img {
  width: 35px;
  height: 35px;
}

.closer {
  position: absolute;
  top: 120px;
  right: 15px;
  z-index: 9;
}
.closer img {
  width: 40px;
  height: 40px;
}

.box-shadow {
  box-shadow: 0px -10px 11px 0px rgba(0, 0, 0, 0.19);
}

.text-1 {
  color: #949494;
  font-size: 14px;
  margin: 0;
  padding: 24px 15px;
  text-align: center;
}

.text-2 {
  font-size: 28px;
}

.text-3 {
  font-size: 15px;
  margin: 0;
  padding-bottom: 15px;
}

.list-nav {
  list-style: none;
  margin-bottom: 0;
  margin-top: 30px;
  padding: 0;
}
.list-nav a {
  align-items: center;
  color: black;
  display: flex;
  font-size: 28px;
  margin-bottom: 5px;
  text-decoration: none;
}
.list-nav a span {
  color: #979696;
  padding-right: 5px;
}
.list-nav a p {
  margin: 0;
}

.list-name {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;
}
.list-name li {
  font-size: 28px;
}

.m-0 {
  margin: 0;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-80 {
  padding-bottom: 80px;
}

.c-gray {
  color: #949494;
}

.text-decoration {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
